.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2.2vh;
  text-align: left;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tests {
  width: 100%;
  padding: 2.2vh;
  text-align: left;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
  position: absolute;
  bottom: -115vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout__button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #6275ff;
  color: white;
}

.footer__creators-container {
  display: flex;
  font-size: 0.7rem;
}
.footer__creators-container > * {
  min-width: 5.5rem;
  margin-right: 0.3rem;
}
