.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form__element {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 4px;
}

.form__control {
  border: 1px solid var(--color-grey-dark-3);
  border-radius: 5px;
  margin-top: 3px;
  padding: 5px;
}

.form__button {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: 'Space Grotesk', -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  text-decoration: none;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
  margin-top: 10%;
  margin-bottom: 15%;
}

.form__login-link {
  margin-bottom: 8px;
}

.form__login-link > a:visited,
.form__login-link > a:active {
  color: var(--color-grey-dark-1);
}
