.Job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 90vh;
  padding: 10px;
}

.Job__input {
  text-align: center;
  width: 100%;
  text-overflow: wrap;
  height: auto;
  resize: none;
}

.Job__materials {
  list-style-type: none;
  width: 70%;
}

.Job__material-name {
  font-size: 15px;
}

.Job__material-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Job__attachments {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Job__attachments__img {
  height: 25vw;
  width: 25vw;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 10px;
}

.popup {
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none;
}

.Job__calendar-row {
  display: flex;
  min-width: 50vw;
  justify-content: center;
  align-items: center;
}

.Job__text-area {
  all: unset;
  word-break: break-word;
  width: 80vw;
  text-align: center;
  height: 2em;
  margin: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

input[type='text'] {
  font-size: 14px;
  font-weight: bold;
}

.address {
  height: 20px;
  font-size: 30px;
  font-weight: bold;
}

.dates {
  font-size: 12px;
  font-weight: bold;
}

.Job__attachment-icons__container {
  border: 3px solid var(--color-primary-blue-dark);
  border-radius: 8px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Job__attachment-icons {
  color: var(--color-primary-blue-dark);
  width: 40px;
  height: 40px;
}

.Job__attachment-buttons__row {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-top: 20px;
}

.Job__attachments__container {
  position: relative;
}

.Job__attachments__delete-icon {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  color: black;
}

.Job__address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 3px solid var(--color-primary-blue-dark);
  border-radius: 5px;
}

.Job__address__hint {
  width: 100%;
  text-align: left;
}

.Job__address__input {
  all: unset;
  margin: 10px;
  width: 90%;
  background-color: azure;
  text-align: center;
}

.Job__address__input__postcode {
  all: unset;
  margin: 10px;
  width: 60%;
  background-color: azure;
  text-align: center;
}

.Job__materials-button {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: 'Space Grotesk', -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 1.5rem 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  text-decoration: none;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
}
