ul {
  list-style: none;
}

.container__MaterialsList {
  width: 90%;
  margin: 1rem auto;
  max-width: 1000px;
  background-color: var(--color-grey-light-1);
}

.formBox__materialsList {
  padding: 0.5rem 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 90%;
}

.form__container__materialsList {
  font-size: 1.2rem;
  margin-top: 5%;
}

.btn__materialList {
  margin: 1rem;
}

.itemList__materialList {
  display: inline-block;
  font-size: 1.5em;
}

.deleteBtn__materialList {
  margin-left: 10%;
}

.itemListContainer__materialList {
  padding: 5px;
}

.calculator__materialsList {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.calculator__materialsList p {
  font-size: 2em;
}

.button__materialList {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: 'Space Grotesk', -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  text-decoration: none;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-size: 3.5em;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

th,
td {
  font-size: 1.5em;
}

td {
  text-align: center;
}

table {
  width: 100%;
}

.actionBtn__materialList {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: 'Space Grotesk', -apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  text-decoration: none;
  background-color: var(--color-primary-blue-dark);
  color: var(--color-grey-light-1);
}
.btnSmall {
  min-width: 60px;
  min-height: 10px;
  padding: 5px;
  margin: 4px;
}

.tableInput__materialList {
  font-size: 1em;
  width: 20vw;
}

.btn__materialList {
  display: flex;
  justify-content: center;
}

.emptyMsg__materialsList {
  padding-top: 4%;
}
