.Webcam__container {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Webcam__centered-image {
  position: fixed;
  top: 0px;
}

.Webcam__back-arrow {
  z-index: 2;
  width: 15vw;
  height: 15vw;
  position: fixed;
  top: 10px;
  left: 10px;
}

.Webcam__shutter-icon {
  z-index: 2;
  width: 20vw;
  height: 20vw;
  position: fixed;
  bottom: 10vh;
  left: 40vw;
}

.Webcam__save-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  width: 80vw;
  height: 20vw;
  position: fixed;
  bottom: 10vh;
  left: 10vw;
}

.Webcam__save-photo__icon {
  width: 20vw;
  height: 20vw;
}

.Webcam__save-photo__text {
  text-align: center;
  font-size: 25px;
}
